<ng-template appPlaceHolder></ng-template>
<div class="row">
    <div class="col-sm-12">
        <label for="">To {{type}}</label>
        <form [formGroup]="url" (ngSubmit)="urlSent()">
            <div class="row">
                
                <div class="col-sm-12 mt-1"> 
                    <div *ngIf="!dbSub; else elseTemplate">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" [disabled]="!url.valid && type !=='Inflate'" type="submit">Convert</button>
                            <input type="text" class="form-control"formControlName="urlInput" aria-label="" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <ng-template #elseTemplate>
                        <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" [url]="longUrl" appRedirect type="button">Visit</button>
                        <div *ngIf="type ==='Inflate'; else else2Template">
                            <input formControlName="urlInput" [value]="dbSub | async | url:'long'" type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                        <ng-template #else2Template>
                            <input formControlName="urlInput" [value]="dbSub | async | url:'short'" type="text" class="form-control" aria-describedby="basic-addon1">
                        </ng-template>
                    </div>
                    </ng-template>                   
                </div>
            </div>
        </form>
    </div> 
</div>