<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand">CuttyURL</a>
            <button type="submit" class="navbar-toggler" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <!-- <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li> -->
                <li class="nav-item" routerLinkActive="active" (click)="collapsed = !collapsed" routerLink="/shorten/Shrink"><a class="nav-link">Shorten URL</a></li>
                <li class="nav-item" routerLinkActive="active" (click)="collapsed = !collapsed" routerLink="/inflate/Inflate"><a class="nav-link">Inflate URL</a></li>
                <li class="nav-item" *ngIf="isAuthenticated" (click)="onLogout()"><a class="nav-link">Logout</a></li>
                <li class="nav-item" *ngIf="!isAuthenticated" routerLink="/auth"><a class="nav-link">Login</a></li>
                <li class="nav-item" routerLinkActive="active" (click)="collapsed = !collapsed" *ngIf="isAuthenticated" routerLink="/account"><a class="nav-link">Account</a></li>
            </ul>
        </div>
    </div>
</nav>